Question 1: Write two distinct ways of reversing the list without mutating the original list.

In [ ]:
numbers = [1, 2, 3, 4, 5]     # [5, 4, 3, 2, 1]

print(sorted(numbers, reverse=True))

rev_numbers = list(reversed(numbers))
print(rev_numbers)

print(numbers[-1::-1])

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

Question 2: Given a number and a list, determine whether the number is included in the list.

In [18]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in numbers)

False
True

Question 3: Programmatically determine whether 42 lies between 10 and 100, inclusive. Do the same for the values 100 and 101.

In [22]:
if 10 <= 42 <= 100:
    print("True")
else:
    print("False")

print(42 in range(10,101))
print(100 in range(10,101))
print(101 in range(10,101))

True
True
True
False

Question 4: Given a list of numbers [1, 2, 3, 4, 5], mutate the list by removing the number at index 2, so that the list becomes [1, 2, 4, 5].

In [29]:
numbers = [1, 2, 3, 4, 5]

# My solution
numbers.pop(2)
print(numbers)

# Launchschool solution
more_numbers = [6, 7, 8, 9, 10]
del more_numbers[2]
print(more_numbers)

[1, 2, 4, 5]
[6, 7, 9, 10]

Question 5: How would you verify whether the data structures assigned to the variables numbers and table are of type list?

In [ ]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(type(numbers))
type(table)

# Launchschool solution
isinstance(numbers, list)
isinstance(table, list)

False

Question 6: Back in the stone age (before CSS), we used spaces to align things on the screen. If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [36]:
title = "Flintstone Family Members"
title.center(40)

'       Flintstone Family Members        '

Question 7: Write a one-liner to count the number of lower-case t characters in each of the following strings:

In [38]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print(statement1.count('t'))
print(statement2.count('t'))

2
0

Question 8: Determine whether the following dictionary of people and their age contains an entry for 'Spot'.

In [42]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

'Spot' in ages

# Could also use:
# print(ages['Spot'])

False

Question 9: We have most of the Munster family in the below ages dictionary. Add entries for Marilyn and Spot to the dictionary.

In [ ]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

# My solution
additional_ages = {'Marilyn': 22, 'Spot': 237}
ages['Marilyn'] = 27
ages['Spot'] = 237
print(ages)

# Launchschool solution
ages.update(additional_ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 27, 'Spot': 237}